var limitNum = (function(value, num) {
    if (typeof value == 'number') return (value.toFixed(num));;
    return (value)
});
var limitLength = (function(str, num) {
    str = str + '';
    if (typeof str == 'object') {
        return (str)
    } else if (str.length > num) {
        return ((str + '').slice(0, num) + '...')
    } else {
        return (str)
    }
});
var getQueueInfo = (function(status) {
    if (!status) {
        return
    };
    var statusList = ({
        '1': '正在排队中，请耐心等候...',
        '2': '请前往门店就餐',
        '3': '当前号码已失效，请重新取号',
        '4': '当前号码已失效，请重新取号',
    });
    return (statusList[((nt_0 = (status + ''), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))])
});
var deleteT = (function(data) {
    if (!data) {
        return ('')
    };
    return (data.replace('T', ' '))
});
var nextDay = (function(pre, now) {
    console.log(pre, now);
    if (!pre || !now) {
        return
    };
    var preNum = pre.split(':')[(0)];
    var nowNum = now.split(':')[(0)];
    if (nowNum < preNum) {
        return ('次日' + now)
    } else {
        return (now)
    }
});
module.exports = ({
    limitNum: limitNum,
    nextDay: nextDay,
    limitLength: limitLength,
    getQueueInfo: getQueueInfo,
    deleteT: deleteT,
});